This system is monitored and unauthorised entry is prosecuted!
This is the system {{ ansible_hostname }}.
Todays date is: {{ ansible_date_time.date }}
Only use this system with permisssion.
You can ask {{ system_owner }} for access.
